* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1500px;
}

.p-img {
  float: left;
  width: 100%;
  max-width: 500px;
}

p {
  text-align: justify;
}

.header-img {
  min-height: 100px;
  max-height: 200px;
}

.ratio-container {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.ratio-container:before {
  content: '';
  display: block;
}

.ratio16-9:before {
  padding-top: 56.25%;
}

.ratio9-16:before {
  padding-top: 177.77%;
}

.contenido {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  color: #444;
}
